<!DOCTYPE html>

{% load staticfiles %}

<html lang="en">



<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink_to_fit=no">
    
    <title>DMA {% block title_suffix %}{% endblock %}</title>
{% block header %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3.css">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
{% endblock %}
{% block head_extras %}
{% endblock %}
</head>

<body>
{% block body %}

<nav class="navbar navbar-expand-sm navbar-dark navbar-dungie">
    <a class="navbar-brand" href="/">Dungie</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            {% if user.is_authenticated %}
            <li class="nav-item active">
                <a class="nav-link"
                    href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>
            <li class="nav-item active">
                <a class="nav-link"
                    href="/characters/">Characters</a></li>
            {% else %}
            <li class="nav-item active">
                <a class="nav-link"
                    href="{% url 'login'%}?next={{request.path}}">Login</a></li>
            <li class="nav-item disabled">
                <a class="nav-link"
                    href="{% url 'login'%}?next={{request.path}}">Characters</a></li>
            {% endif %}
            <li class="nav-item active">
                <a class="nav-link"
                    href="/creatures/">Creatures</a></li>
            <li class="nav-item active">
                <a class="nav-link"
                    href="/treasure/">Treasure</a></li>
            <li class="nav-item active">
                <a class="nav-link"
                    href="/random_encounters/">Random Encounters</a></li>
            <li class="nav-item active">
                <a class="nav-link"
                    href="/spells/">Spells</a></li>
        </ul>
    </div>
</nav>

<div id="content">
    {% block content %}{% endblock content %}
</div>
{% endblock body %}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
