{% extends "home/base.html" %}
{% load static %}
        
{% block title_suffix %}
 - {{creature.name}} Detail
{% endblock %}

{% block content %}
    <p> <b>{{creature.name}}</b>
    {% if creature.alt_names %}
        a.k.a.
        {% for name in creature.aliases %}
            "{{name}}"
        {% endfor %}
    {% endif %}
    </p>
    
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm">
                {% autoescape off %} 
                {{ creature.stats_html }} 
                {% endautoescape %}
            </div>
            <div class="col-sm">
                {% with 'creatures/images/'|add:creature.slug|add:'.png' as image_path %}
                <img src ="{% static image_path %}" class="img-fluid h-100" alt=""/>
                {% endwith %}
            </div>
        </div>
    </div>


    <!-- Possible Wide Creature Image -->
    {% with 'creatures/images/'|add:creature.slug|add:'-wide'|add:'.png' as image_path %}
    <img src ="{% static image_path %}" class="img-fluid" alt=""/>
    {% endwith %}

    <p>
        Description:{% autoescape off %} {{ creature.description |linebreaks}} {% endautoescape %}
    </p>

    <form class="w3-container" action="{% url 'creatures:detail' creature.slug %}" method="POST">
        {% csrf_token %}
        {{ standard_form.as_p }}
        <button class="w3-btn">Roll Standard Encounter</button>
    </form>
    
    <form class="w3-container" action="{% url 'creatures:detail' creature.slug %}" method="POST">
        {% csrf_token %}
        <p>
            {{ quantity_form }}
            <button class="w3-btn">Roll Creatures</button>
        </p>
    </form>
    
    <!-- Possible Large Creature Image -->
    {% load static %}
    {% with 'creatures/images/'|add:creature.slug|add:'-large'|add:'.png' as image_path %}
    <img src ="{% static image_path %}" class="img-fluid" alt=""/>
    {% endwith %}  

{% endblock %}
