{% extends "home/base.html" %}

{% block title_suffix %}
 - {{creature.name}} Detail
{% endblock %}

{% block content %}
    <p> <b>{{creature.name}}</b>
    {% if creature.alt_names %}
        a.k.a.
        {% for name in creature.aliases %}
            "{{name}}"
        {% endfor %}
    {% endif %}
    </p>
    
    {% load static %}
    
    {% with 'creatures/images/'|add:creature.slug|add:'.png' as image_path %}
    <img src ="{% static image_path %}"/>
    {% endwith %}
    
    <p>
        Number Appearing:
        {% if creature.min_appearing != creature.max_appearing %}
            {{ creature.min_appearing }} -
        {% endif %}
        {{ creature.max_appearing }}
        <br/>AC: {{creature.ac}}
        <br/>Move Speed: {{creature.ground_speed|floatformat}}"
        {% if creature.air_speed %}
            <br/>Air Speed: {{creature.air_speed|floatformat}}"
             (MC: {{creature.flight_class}}) 
        {% endif %}
        {% if creature.water_speed %}
            <br/>Water Speed: {{creature.water_speed|floatformat}}"
        {% endif %}
        {% if creature.climb_speed %}
            <br/>Climbing Speed: {{creature.climb_speed|floatformat}}"
        {% endif %}
        {% if creature.burrow_speed %}
            <br/>Burrowing Speed: {{creature.burrow_speed|floatformat}}"
        {% endif %}    
        {% if creature.web_speed %}
            <br/>Web Speed: {{creature.web_speed|floatformat}}"</p>
        {% endif %}  
        
        <br/>
        {% if creature.max_hd > 0 %}
            {% if creature.min_hd != creature.max_hd %}
                {{creature.min_hd}} - {{creature.max_hd}}
            {% else %}
                {{creature.min_hd}}
            {% endif %} HD
            {% if creature.max_hp_mod > 0 %}
                +
            {% endif %}
        {% endif %}

        {% if creature.max_hp_mod > 0 %}
            {% if creature.min_hp_mod != creature.max_hp_mod %}
                {{creature.min_hp_mod}} - {{creature.max_hp_mod}}
            {% else %}
                {{creature.min_hp_mod}}
            {% endif %}
            HP
        {% endif %}
        <br/>Lair Chance: {{creature.lair_percentage|floatformat:-2}}%
        <br/>Treasure Type: 
        {% if creature.treasure_types %} {{creature.treasure_types}}
        {% else %} None
        {% endif %}
        <br/>Number of Attacks: {{creature.num_attacks}}
        <br/>Attack Damage:{{creature.attacks_str}}
        <br/>Magic Resistance: {{creature.m_resist_percentage|floatformat}}%
        <br/>Intelligence: {{creature.intelligence_str}}
        <br/>Alignment: {{creature.alignment_str}}
        <br/>Size: {{creature.size_class}}
        <br/>Level {{ creature.level }}
        <br/>XP: {{creature.base_xp}}
        {% if creature.xp_per_hp %}
            + {{creature.xp_per_hp}}/HP
        {% endif %}
    </p>

    <form class="w3-container" action="{% url 'creatures:detail' creature.slug %}" method="POST">
        {% csrf_token %}
        {{ standard_form.as_p }}
        <button class="w3-btn">Roll Standard Encounter</button>
    </form>
    
    <form class="w3-container" action="{% url 'creatures:detail' creature.slug %}" method="POST">
        {% csrf_token %}
        <p>
            {{ quantity_form }}
            <button class="w3-btn">Roll Creatures</button>
        </p>
    </form>

{% endblock %}
