{% extends 'home/base.html' %}

{% block title_suffix %}
 - Characters
{% endblock %}

{% block content %}
<a class="btn btn-primary" href="{% url 'characters:import' %}"
    role="button">Import</a>
<a class="btn btn-primary" href="{% url 'characters:create' %}"
    role="button">Create</a>

<p>
    <h1>Characters:</h1>
    <ul>
        {% for character in object_list %}
        <li><a href="{% url 'characters:detail' character.slug %}">{{character}}</a></li>
        {% empty %}
        You don't have any characters.
        {% endfor %}
    </ul>
</p>
{% endblock %}
