{% extends "home/base.html" %}

{% block content %}
<div>
    <div class="w3-sidebar w3-bar-block w3-indigo" style="width:20%">
        <a href="/treasure/gems/" class="w3-bar-item w3-button w3-border">Gems</a>
        <a href="/treasure/jewelry/" class="w3-bar-item w3-button w3-border">Jewelry</a>
        <a href="/treasure/t_types/" class="w3-bar-item w3-button w3-border">Treasure Types</a>
    </div>
      
    <div style="margin-left:21%">
        {% block treasure_content %}
        {% endblock treasure_content %}

        {% block treasure_results %}
        {% endblock treasure_results %}
    </div>
    
</div>
{% endblock content %}