{% extends 'home/base.html' %}

{% block content %}
    <div class="w3-dropdown-hover">
        <button class="w3-button">Temperate</button>
        <div class="w3-dropdown-content w3-bar-block">
            <a href="#" class="w3-bar-item w3-button w3-border">Cold</a>
            <a href="#" class="w3-bar-item w3-button w3-border">Temperate</a>
            <a href="#" class="w3-bar-item w3-button w3-border">Tropical</a>
        </div>
    </div>
    
    <div class="w3-dropdown-hover">
        <button class="w3-button">Wilderness</button>
        <div class="w3-dropdown-content w3-bar-block">
            <a href="#" class="w3-bar-item w3-button w3-border">Wilderness</a>
            <a href="#" class="w3-bar-item w3-button w3-border">Rural</a>
            <a href="#" class="w3-bar-item w3-button w3-border">Urban</a>
        </div>
    </div>
    
    <div class="w3-dropdown-hover">
        <button class="w3-button">Plains</button>
        <div class="w3-dropdown-content w3-bar-block">
            <a href="#" class="w3-bar-item w3-button w3-border">Plains</a>
            <a href="#" class="w3-bar-item w3-button w3-border">Forest</a>
            <a href="#" class="w3-bar-item w3-button w3-border">Hills</a>
            <a href="#" class="w3-bar-item w3-button w3-border">Mountains</a>
            <a href="#" class="w3-bar-item w3-button w3-border">Desert</a>
            <a href="#" class="w3-bar-item w3-button w3-border">Swamp</a>       
        </div>
    </div>
{% endblock %}