.w3-button{
    border-style:solid;
    border-color:blue;
}

.nav{
    background-color: indigo;
    color: white;
}

body{
    background-color: black;
    color:white;
}

input{
    background-color: indigo;
}

pre{
    background-color: black;
    color:white;
}