/* container styling currently just to see how bootstrap is laying things out */
.container{
    border: 2px solid indigo;
}

.container-fluid{
    border: 1px solid indigo;
    background-color: black;
}

/* end debug stylings */

.w3-button{
    border-style:solid;
    border-color:white;
}

.w3-btn{
    border-style:ridge;
    border-color:white;
    background-color:indigo;
}

.nav{
    background-color: indigo;
    color: white;
}

.navbar-dungie{
    background-color: indigo;
    color: white;
}

/* change the color of active or hovered links */
.navbar-dungie .nav-item:hover .nav-link {
    background-color: midnightblue;
}

.btn{
    background-color: indigo;
    border-color: white;
}

.btn:hover{
    background-color: white;
    border-color: indigo;
    color: indigo;
}

body{
    background-color: black;
    color:white;
}

pre{
    background-color: black;
    color:white;
}

p a:link{
    color: turquoise;
}

p a:visited{
    color: turquoise;
}
