/* container styling currently just to see how bootstrap is laying things out */
.container{
    border: 2px solid indigo;
}

.container-fluid{
    border: 1px solid indigo;
    background-color: black;
}

/* end debug stylings */

.w3-button{
    border-style:solid;
    border-color:white;
}

.w3-btn{
    border-style:ridge;
    border-color:white;
    background-color:indigo;
}

.nav{
    background-color: indigo;
    color: white;
}

body{
    background-color: black;
    color:white;
}

input{
    background-color: indigo;
}

pre{
    background-color: black;
    color:white;
}

option{
    background-color: indigo;
}

select{
    background-color: indigo;
}

/*
table{
    border-spacing: 5px;
}

table, th, td{
    border: 2px solid indigo;
    padding: 5px;
}
*/

p a:link{
    color: turquoise;
}

p a:visited{
    color: turquoise;
}
